<section class="application mb-120" style="background-image: url('images/download-app.jpg');">
  <h1 class="sr-only">Загрузка приложения Simplefood</h1>
  <div class="container">
    <div class="application__inner">
      <h2 class="title application__title">Скачайте мобильное приложение</h2>
      <div class="application__text">
        <p>Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом
          удобном месте.
        </p>
        <div class="application__links">
          <a class="application__link-apple" href="#">
            <span class="sr-only">Загрузить приложение через apple store</span>
          </a>
          <a class="application__link-google" href="#">
            <span class="sr-only">Загрузить приложение через google play</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>