<section class="discount mb-120">
  <div class="container">
    <h2 class="title discount__title">Акции и скидки</h2>
    <div class="discount__slider">

      <ul class="discount__list">
        <li class="discount__item restorant-card__item">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="images/restoran/blaze-pizza.jpg" width="370" height="300"
              alt="Изображение Пицца Biaze">
          </a>
          <a class="restorant-card__link" href="#">
            <h3 class="restorant-card__title discount__card-title">Скидка 50% на вторую пиццу</h3>
          </a>
        </li>
        <li class="discount__item restorant-card__item">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="images/restoran/kfc.jpg" width="370" height="300"
              alt="Изображение KFC">
          </a>
          <a class="restorant-card__link" href="#">
            <h3 class="restorant-card__title discount__card-title">Картошечка из KFC даром при заказе бургера</h3>
          </a>
        </li>
        <li class="discount__item restorant-card__item">
          <a class="restorant-card__link" href="#">
            <img class="restorant-card__img" src="images/restoran/star-burger.jpg" width="370" height="300"
              alt="Изображение Черный бургер">
          </a>
          <a class="restorant-card__link" href="#">
            <h3 class="restorant-card__title discount__card-title">Чёрные бургеры на чёрный день </h3>
          </a>
        </li>
      </ul>
    </div>

  </div>
</section>