<section class="features mb-120" style="background-image: url('images/food-delivery.png');">
  <h1 class="sr-only">Преимущества доставки Simplefood</h1>
  <div class="container">
    <div class="features__content">
      <h2 class="title features__title">Оставайтесь дома, <br>
        а мы позаботимся о еде</h2>
      <div class="features__descr">
        <p>У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо
          сейчас и получите скиидку!</p>
      </div>
      <ul class="features__list">
        <li class="features__item icon icon--timer">Быстрая доставка за 15 минут</li>
        <li class="features__item icon icon--delivery">Вежливые курьеры</li>
        <li class="features__item icon icon--restorant">Более 500 заведений</li>
      </ul>
      <a class="features__btn btn" href="#">Подробнее</a>
    </div>
  </div>
</section>