<header class="header">
  <div class="container">
    <div class="header__burger-nav">
      <div class="header__burger-nav-top">
        <a class="logo" href="#">
          <img class="logo__img-top" src="images/Logo.svg" width="200" height="39" alt="логотип Simplefood ">
        </a>
        <button class="burger-btn icon icon--close">
        </button>
      </div>
      <ul class="menu menu-top">
        <li class="menu__item">
          <a class="menu__link-header menu__link--active" href="../index.html">
            Главная
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link-header" href="../catalog.html">
            Блюда
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link-header" href="#">
            Контакты
          </a>
        </li>
      </ul>
      <adress class="contacts">
        <ul class="contacts__list contacts__list-top">
          <li class="contacts__item">
            <a class="contacts__link icon icon--adress" href="#">
              ул. Т.Г.Шевченко, 1
            </a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link icon icon--phone" href="tel:+380501112233">
              380501112233
            </a>
          </li>
          <li class="contacts__item">
            <a class="contacts__link icon icon--email" href="mailto:support@sfood.com">
              support@sfood.com
            </a>
          </li>
        </ul>
        <ul class="social social-top">
          <li class="social__item">
            <a href="" class="social__link">
              <span class="sr-only">Страница Simplefood в фейсбук</span>
              <span class="social__icon"
                style="-webkit-mask-image: url('images/sprite.svg#icon-facebook'); mask-image: url('images/sprite.svg#icon-facebook')"></span>
            </a>
          </li>
          <li class="social__item">
            <a href="" class="social__link">
              <span class="sr-only">Страница Simplefood в инстагнам</span>
              <span class="social__icon"
                style="-webkit-mask-image: url('images/sprite.svg#icon-twitter'); mask-image: url('images/sprite.svg#icon-twitter')"></span>
            </a>
          </li>
          <li class="social__item">
            <a href="" class="social__link">
              <span class="sr-only">Страница Simplefood в твиттер</span>
              <span class="social__icon"
                style="-webkit-mask-image: url('images/sprite.svg#icon-instagram'); mask-image: url('images/sprite.svg#icon-instagram')"></span>
            </a>
          </li>
        </ul>
      </adress>
    </div>
    <nav class="header__nav">
      <a class="logo" href="#">
        <img class="logo__img" src="images/Logo.svg" width="200" height="39" alt="логотип Simplefood ">
      </a>
      <button class="burger-btn">
        <img class="burger-btn__img" src="images/burger.svg" alt="Бургер меню">
      </button>
      <ul class="menu top-menu">
        <li class="menu__item">
          <a class="menu__link-header menu__link--active" href="../index.html">
            Главная
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link-header" href="../catalog.html">
            Блюда
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link-header" href="#">
            Контакты
          </a>
        </li>
      </ul>
      <div class="header__actions">
        <button class="btn-sm icon icon--search" type="button">
          <span class="sr-only">Искать товары
          </span>
        </button>
        <button class="btn-sm header__btn icon icon--cart" type="button">
          <span class="sr-only">Колличество товаров в корзине:
          </span>
          <span class="btn-counter">4</span>
        </button>
      </div>
    </nav>
  </div>
</header>