<section class="hero mb-120" style="background-image: url('images/scooter_guy.png');">
  <h2 class="sr-only">Особенности доставки Simple food</h2>
  <div class="container">
    <div class="hero__title">
      Доставка <span class="helper">за 15 минут</span>
    </div>
    <div class="hero__descr">
      <p>Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш счёт</p>
    </div>
    <div class="hero__actions">
      <a class="btn" href="#">Заказать</a>
      <a class="more-link" href="#">Подробнее</a>
    </div>
  </div>
</section>