<section class="popular mb-120">
  <div class="container">
    <h2 class="popular__title title">Популярные категории</h2>
    <ul class="categories-nav popular__nav">
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--burger" data-filter="category-1" type="button">Бургеры</button>
      </li>
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--pizza" data-filter="category-2" type="button">Пицца</button>
      </li>
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--sandwich" data-filter="category-3" type="button">Сендвичи</button>
      </li>
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--asian" data-filter="category-4" type="button">Азиатская
          кухня</button>
      </li>
      <li class="categories-nav__item">
        <button class="categories-nav__btn icon icon--sets" data-filter="category-5" type="button">Cеты</button>
      </li>
    </ul>
    <ul class="categories-list popular__list">
      <li class="categories-list__item category-1">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">
              Чизбургер с листьями салата
            </h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product/burger_1.png" width="140" height="140"
              alt=" изображение Чизбургера с листьями салата">
          </a>
          <div class="product-card__price">
            160 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">Заказать</button>
        </article>
      </li>
      <li class="categories-list__item category-1">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">
              Бифбургер</h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product/burger_2.png" width="140" height="140"
              alt=" изображение Бифбургера">
          </a>
          <div class="product-card__price">
            190 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">Заказать</button>
        </article>
      </li>
      <li class="categories-list__item category-2">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">
              Королевский чизбургер
            </h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product/burger_3.png" width="140" height="140"
              alt=" изображение Королевского чизбургера">
          </a>
          <div class="product-card__price">
            260 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">Заказать</button>
        </article>
      </li>
      <li class="categories-list__item category-2">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">
              Черный гамбургер
            </h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product/burger_4.png" width="140" height="140"
              alt=" изображение Черного гамбургера">
          </a>
          <div class="product-card__price">
            199 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">Заказать</button>
        </article>
      </li>
      <li class="categories-list__item category-3">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">
              Чикен бургер
            </h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product/burger_5.png" width="140" height="140"
              alt=" изображение Чикен бургера">
          </a>
          <div class="product-card__price">
            180 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">Заказать</button>
        </article>
      </li>
      <li class="categories-list__item category-3">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">
              Чизбургер с листьями салата
            </h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product/burger_1.png" width="140" height="140"
              alt=" изображение Чизбургера с листьями салата">
          </a>
          <div class="product-card__price">
            160 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">Заказать</button>
        </article>
      </li>
      <li class="categories-list__item category-4">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">
              Бифбургер</h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product/burger_2.png" width="140" height="140"
              alt=" изображение Бифбургера">
          </a>
          <div class="product-card__price">
            190 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">Заказать</button>
        </article>
      </li>
      <li class="categories-list__item category-4">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">
              Королевский чизбургер
            </h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product/burger_3.png" width="140" height="140"
              alt=" изображение Королевского чизбургера">
          </a>
          <div class="product-card__price">
            260 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">Заказать</button>
        </article>
      </li>
      <li class="categories-list__item category-5">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">
              Черный гамбургер
            </h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product/burger_4.png" width="140" height="140"
              alt=" изображение Черного гамбургера">
          </a>
          <div class="product-card__price">
            199 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">Заказать</button>
        </article>
      </li>
      <li class="categories-list__item category-5">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <h3 class="product-card__title">
              Чикен бургер
            </h3>
          </a>
          <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/product/burger_5.png" width="140" height="140"
              alt=" изображение Чикен бургера">
          </a>
          <div class="product-card__price">
            180 <span class="product-card__currency">грн.</span>
          </div>
          <button class="btn btn--md product-card__btn" type="button">Заказать</button>
        </article>
      </li>
    </ul>
    <button class="more-link popular__btn" type="button">Показать еще</button>
  </div>
</section>