<section class="restorant mb-120">
  <div class="container">
    <h2 class="title restorant__title">Лучшие рестораны</h2>
    <ul class="restorant-card">
      <li class="restorant-card__item">
        <a class="restorant-card__link" href="#">
          <img class="restorant-card__img" src="images/restoran/blaze-pizza.jpg" width="370" height="300"
            alt="Изображение Пицца Biaze">
        </a>
        <a class="restorant-card__link" href="#">
          <h3 class="restorant-card__title">Blaze Pizza</h3>
        </a>
        <div class="restorant-card__order">
          <time class="restorant-card__time icon icon--time">11:00 - 22:00</time>
          <button class="restorant-card__btn icon icon--arrow" type="button"></button>
        </div>
      </li>
      <li class="restorant-card__item">
        <a class="restorant-card__link" href="#">
          <img class="restorant-card__img" src="images/restoran/runcho-pizza.jpg" width="370" height="300"
            alt="Изображение Пицца Runcho">
        </a>
        <a class="restorant-card__link" href="#">
          <h3 class="restorant-card__title">Pizza Runcho</h3>
        </a>
        <div class="restorant-card__order">
          <time class="restorant-card__time icon icon--time">12:00 - 21:00</time>
          <button class="restorant-card__btn icon icon--arrow" type="button"></button>
        </div>
      </li>
      <li class="restorant-card__item">
        <a class="restorant-card__link" href="#">
          <img class="restorant-card__img" src="images/restoran/hut-pizza.jpg" width="370" height="300"
            alt="Изображение Пицца Hut">
        </a>
        <a class="restorant-card__link" href="#">
          <h3 class="restorant-card__title">Pizza Hut</h3>
        </a>
        <div class="restorant-card__order">
          <time class="restorant-card__time icon icon--time">11:00 - 22:00</time>
          <button class="restorant-card__btn icon icon--arrow" type="button"></button>
        </div>
      </li>
      <li class="restorant-card__item">
        <a class="restorant-card__link" href="#">
          <img class="restorant-card__img" src="images/restoran/macdonalds.jpg" width="370" height="300"
            alt="Изображение McDonald`s">
        </a>
        <a class="restorant-card__link" href="#">
          <h3 class="restorant-card__title">McDonald`s</h3>
        </a>
        <div class="restorant-card__order">
          <time class="restorant-card__time icon icon--time">06:00 - 23:00</time>
          <button class="restorant-card__btn icon icon--arrow" type="button"></button>
      </li>
      <li class="restorant-card__item">
        <a class="restorant-card__link" href="#">
          <img class="restorant-card__img" src="images/restoran/kfc.jpg" width="370" height="300" alt="Изображение KFC">
        </a>
        <a class="restorant-card__link" href="#">
          <h3 class="restorant-card__title">KFC</h3>
        </a>
        <div class="restorant-card__order">
          <time class="restorant-card__time icon icon--time">06:00 - 23:30</time>
          <button class="restorant-card__btn icon icon--arrow" type="button"></button>
        </div>
      </li>
      <li class="restorant-card__item">
        <a class="restorant-card__link" href="#">
          <img class="restorant-card__img" src="images/restoran/star-burger.jpg" width="370" height="300"
            alt="Изображение Star Burgers">
        </a>
        <a class="restorant-card__link" href="#">
          <h3 class="restorant-card__title">Star Burgers</h3>
        </a>
        <div class="restorant-card__order">
          <time class="restorant-card__time icon icon--time">09:00 - 21:00</time>
          <button class="restorant-card__btn icon icon--arrow" type="button"></button>
        </div>
      </li>
    </ul>
  </div>

</section>