<section class="review-slider mb-120">
  <div class="container">
    <h2 class="title review-slider__title">
      Отзывы клиентов
    </h2>
    <div class="review-slider__content">
      <div class="review-slider__inner">
        <img class="review-slider__image" src="images/dariya.jpg" alt="Изображение Дарьи">
        <figure class="quote">
          <blockquote class="quote__text">
            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
            приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
            доставку - однозначно рекомендую!
          </blockquote>
          <figcaption class="quote__name">
            Дарья
            <span class="quote__name-descr">
              Ценитель вкусной еды
            </span>
          </figcaption>
        </figure>
      </div>
      <div class="review-slider__inner">
        <img class="review-slider__image" src="images/dariya.jpg" alt="Изображение Дарьи">
        <figure class="quote">
          <blockquote class="quote__text">
            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
            приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
            доставку - однозначно рекомендую!
          </blockquote>
          <figcaption class="quote__name">
            Дарья
            <span class="quote__name-descr">
              Ценитель вкусной еды
            </span>
          </figcaption>
        </figure>
      </div>
      <div class="review-slider__inner">
        <img class="review-slider__image" src="images/dariya.jpg" alt="Изображение Дарьи">
        <figure class="quote">
          <blockquote class="quote__text">
            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
            приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
            доставку - однозначно рекомендую!
          </blockquote>
          <figcaption class="quote__name">
            Дарья
            <span class="quote__name-descr">
              Ценитель вкусной еды
            </span>
          </figcaption>
        </figure>
      </div>
      <div class="review-slider__inner">
        <img class="review-slider__image" src="images/dariya.jpg" alt="Изображение Дарьи">
        <figure class="quote">
          <blockquote class="quote__text">
            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
            приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
            доставку - однозначно рекомендую!
          </blockquote>
          <figcaption class="quote__name">
            Дарья
            <span class="quote__name-descr">
              Ценитель вкусной еды
            </span>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>