</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>

<script src="js/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/teddy95/starry@5/dist/starry.min.js" type="text/javascript"
  language="javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/main.js"></script>


</body>

</html>